<%= render 'header2' %>
<style>
  body{
    background-color: #333333;
  }

  .container2{
    margin-top: 100px;  
    margin-left:auto;
    margin-right:auto;
  }

  .container2 form {
    width: 90 %;   
  }

</style>
  <center>
    <div class="container2">
      <%= render "form", friend: @friend %> 
      <br>
        <div>
          <%= link_to "Back to Users", friends_path, class:"btn btn-light" %>  
        </div>
    </div>
  <center>
