<br>
<style>
    body{
        background-color:#333333;
    }
    .cont1 {
        margin-top: 200px;
    }
</style>

<center>
<div class="cont1">
    <h1 style="color: white;"><%=@welcome%></h1>
</div>
</center>
<br>
<center>
    <%= link_to "LOGIN", login_path, class:"btn btn-secondary btn-lg" %>
<center>


